.App {
  position: relative;
  min-height: 100%;
  background-image: url("https://wallpaperaccess.com/full/124378.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}